<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Edit Category</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kafo.ASPMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CCDN/font-awesome-5.15.4.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/shared.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/CCDN/sweetalert2.min.css" rel="stylesheet">
    <script src="~/CCDN/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 