@model ProductVM
@{
    Layout = "_DefaultLayout";
    string title =  "اضافة منتج جديد";
    ViewData["Title"] = title;
    IEnumerable<CategoryVM> Categories = ViewBag.Categories;
    ViewBag.categoryList = new SelectList(ViewBag.Categories, "Id", "Name",1);
}

<body>
    <div class="container py-4">
        <div class="form-container">
            <div class="form-header">
                <h2 class="mb-0">
                    <i class="fas fa-box-open me-2"></i>@ViewData["Title"]
                </h2>
            </div>

            <div class="form-body">
                <partial name="ProductEditPartial" />
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>

